In [1]:
def read_csv(filename):
    string_data = open(filename).read()
    string_list = string_data.split("\n")[1:]
    final_list = []
    
    for row in string_list:
        string_fields = row.split(",")
        int_fields = []
        for value in string_fields:
            int_fields.append(int(value))
        final_list.append(int_fields)
    return final_list
        
cdc_list = read_csv("US_births_1994-2003_CDC_NCHS.csv")

In [2]:
cdc_list[0:10]

[[1994, 1, 1, 6, 8096],
 [1994, 1, 2, 7, 7772],
 [1994, 1, 3, 1, 10142],
 [1994, 1, 4, 2, 11248],
 [1994, 1, 5, 3, 11053],
 [1994, 1, 6, 4, 11406],
 [1994, 1, 7, 5, 11251],
 [1994, 1, 8, 6, 8653],
 [1994, 1, 9, 7, 7910],
 [1994, 1, 10, 1, 10498]]

In [3]:
def month_births(listname):
    births_per_month = {}
    
    for row in listname:
        month = row[1]
        births = row[4]
        if month in births_per_month:
            births_per_month[month] = births_per_month[month] + births
        else:
            births_per_month[month] = births        
    return births_per_month

cdc_month_births = month_births(cdc_list)

In [4]:
cdc_month_births

{1: 3232517,
 2: 3018140,
 3: 3322069,
 4: 3185314,
 5: 3350907,
 6: 3296530,
 7: 3498783,
 8: 3525858,
 9: 3439698,
 10: 3378814,
 11: 3171647,
 12: 3301860}

In [5]:
def dow_births(listname):
    day_of_week = {}
    
    for row in listname:
        weekday = row[3]
        births = row[4]
        if weekday in day_of_week:
            day_of_week[weekday] = day_of_week[weekday] + births
        else:
            day_of_week[weekday] = births
    return day_of_week
      
        
cdc_day_births = dow_births(cdc_list)

In [6]:
cdc_day_births

{1: 5789166,
 2: 6446196,
 3: 6322855,
 4: 6288429,
 5: 6233657,
 6: 4562111,
 7: 4079723}

In [7]:
def calc_counts(filename, column):
    births_summary = {}
        
    for row in filename:
        column_number = row[column]
        births = row[4]
        if column_number in births_summary:
            births_summary[column_number] = births_summary[column_number] + births
        else:
            births_summary[column_number] = births
    return births_summary

cdc_year_births = calc_counts(cdc_list, 0)
cdc_month_births = calc_counts(cdc_list, 1)
cdc_dom_births = calc_counts(cdc_list, 2)
cdc_dow_births = calc_counts(cdc_list, 3)

In [8]:
cdc_year_births

{1994: 3952767,
 1995: 3899589,
 1996: 3891494,
 1997: 3880894,
 1998: 3941553,
 1999: 3959417,
 2000: 4058814,
 2001: 4025933,
 2002: 4021726,
 2003: 4089950}

In [9]:
cdc_month_births

{1: 3232517,
 2: 3018140,
 3: 3322069,
 4: 3185314,
 5: 3350907,
 6: 3296530,
 7: 3498783,
 8: 3525858,
 9: 3439698,
 10: 3378814,
 11: 3171647,
 12: 3301860}

In [10]:
cdc_dom_births

{1: 1276557,
 2: 1288739,
 3: 1304499,
 4: 1288154,
 5: 1299953,
 6: 1304474,
 7: 1310459,
 8: 1312297,
 9: 1303292,
 10: 1320764,
 11: 1314361,
 12: 1318437,
 13: 1277684,
 14: 1320153,
 15: 1319171,
 16: 1315192,
 17: 1324953,
 18: 1326855,
 19: 1318727,
 20: 1324821,
 21: 1322897,
 22: 1317381,
 23: 1293290,
 24: 1288083,
 25: 1272116,
 26: 1284796,
 27: 1294395,
 28: 1307685,
 29: 1223161,
 30: 1202095,
 31: 746696}

In [11]:
cdc_dow_births

{1: 5789166,
 2: 6446196,
 3: 6322855,
 4: 6288429,
 5: 6233657,
 6: 4562111,
 7: 4079723}

In [12]:
def calc_minmax(dictionary, time_unit):
    minmax_dict = []
    
    maximum = max(dictionary.keys(), key = (lambda k: dictionary[k]))
    minimum = min(dictionary.keys(), key = (lambda k: dictionary[k]))
    minmax_dict.append({
        "max_births":dictionary[maximum],
        "max_time": maximum,
        "time_unit": time_unit
              })
    minmax_dict.append({
        "min_births": dictionary[minimum],
        "min_time": minimum,
        "time_unit": time_unit
                })
    return minmax_dict

minmax_cdc_year_births = calc_minmax(cdc_year_births, "year")
minmax_cdc_month_births = calc_minmax(cdc_month_births, "month")
minmax_cdc_dom_births = calc_minmax(cdc_dom_births, "day")
minmax_cdc_dow_births = calc_minmax(cdc_dow_births, "weekday")

In [13]:
minmax_cdc_year_births

[{'max_births': 4089950, 'max_time': 2003, 'time_unit': 'year'},
 {'min_births': 3880894, 'min_time': 1997, 'time_unit': 'year'}]

In [14]:
minmax_cdc_month_births

[{'max_births': 3525858, 'max_time': 8, 'time_unit': 'month'},
 {'min_births': 3018140, 'min_time': 2, 'time_unit': 'month'}]

In [15]:
minmax_cdc_dom_births

[{'max_births': 1326855, 'max_time': 18, 'time_unit': 'day'},
 {'min_births': 746696, 'min_time': 31, 'time_unit': 'day'}]

In [16]:
minmax_cdc_dow_births

[{'max_births': 6446196, 'max_time': 2, 'time_unit': 'weekday'},
 {'min_births': 4079723, 'min_time': 7, 'time_unit': 'weekday'}]

In [17]:
def calc_diff(filename, date_one, date_two, column, column_value):
    birth_rate_result = []
    previous_birth_rate = 0
               
    for row in filename:
        year = row[0]
        current_birth_rate = row[4]
        time_unit = row[column]
        if year in range(date_one,date_two):
            if time_unit is column_value:
                birth_rate_diff = (current_birth_rate - previous_birth_rate)
                if birth_rate_diff > 0:
                    growth_status = "increased"
                    previous_birth_rate = current_birth_rate
                elif birth_rate_diff < 0:
                    growth_status = "decreased"
                    previous_birth_rate = current_birth_rate
                elif birth_rate_diff == 0:
                    growth_status = "static"
                    previous_birth_rate = current_birth_rate
    
                birth_rate_result.append([birth_rate_diff, growth_status,row[0]])
        
    return birth_rate_result
    
        

birth_rate_calc = calc_diff(cdc_list, 1994, 2003, 3, 6)

In [18]:
birth_rate_calc[0:10]

[[8096, 'increased', 1994],
 [557, 'increased', 1994],
 [7, 'increased', 1994],
 [173, 'increased', 1994],
 [155, 'increased', 1994],
 [3, 'increased', 1994],
 [-46, 'decreased', 1994],
 [1, 'increased', 1994],
 [42, 'increased', 1994],
 [227, 'increased', 1994]]

In [19]:
ssa_list = read_csv("US_births_2000-2014_SSA.csv")

In [20]:
ssa_list[0:10]

[[2000, 1, 1, 6, 9083],
 [2000, 1, 2, 7, 8006],
 [2000, 1, 3, 1, 11363],
 [2000, 1, 4, 2, 13032],
 [2000, 1, 5, 3, 12558],
 [2000, 1, 6, 4, 12466],
 [2000, 1, 7, 5, 12516],
 [2000, 1, 8, 6, 8934],
 [2000, 1, 9, 7, 7949],
 [2000, 1, 10, 1, 11668]]

In [21]:
def remove_duplicates(dataset_one, dataset_two):
    clean_list = []
    list_one = dataset_one[:]
    list_two = dataset_two[:]
    merged_list = []

    for row_one in list_one:
        year_one = row_one[0]
        month_one = row_one[1]
        dom_one = row_one[2]
        dow_one = row_one[3]
        births_one = row_one[4]
        for row_two in list_two:
            year_two = row_two[0]
            month_two = row_two[1]
            dom_two = row_two[2]
            dow_two = row_two[3]
            births_two = row_two[4]
            if year_one == year_two and month_one == month_two and dom_one == dom_two and dow_one == dow_two:
                avg_births = round((births_one + births_two) / 2.0)
                new_row = [year_one, month_one, dom_one, dow_one, avg_births]
                clean_list.append(new_row)
                list_one_modified = list_one.remove(row_one)
                list_two_modified = list_two.remove(row_two)
    merged_list = list_one + list_two + clean_list
    return merged_list

In [22]:
cdcssa_merged = remove_duplicates(cdc_list, ssa_list)

In [28]:
cdcssa_merged[3500:3510]

[[2003, 3, 5, 3, 12483],
 [2003, 3, 7, 5, 12503],
 [2003, 3, 9, 7, 7387],
 [2003, 3, 11, 2, 12935],
 [2003, 3, 13, 4, 12333],
 [2003, 3, 15, 6, 8601],
 [2003, 3, 17, 1, 11990],
 [2003, 3, 19, 3, 12587],
 [2003, 3, 21, 5, 12653],
 [2003, 3, 23, 7, 7420]]